body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

fieldset { border: 0px #0000ff solid; }

button.btn {
    display: none;
}

textarea:disabled {
    background: #cccccc;
}

dl{
    width:100%;
    border:1px solid #333;
    border-top:0;
}
dl dt, dl dd{
    padding: 10px;
}
dl dt{
    width:30%;
    border-top:1px solid #333;
    float:left;
}
dl dd{
    border-top:1px solid #333;
    border-left:1px solid #333;
    overflow:hidden;
}
dt.schema {
    background-color: antiquewhite;
}

table{
    border-collapse:collapse;
    margin:0 auto;
}
td,th{
    padding:10px;
    border-bottom:1px solid #ccc;
}
th{
    color:#fff;
    background:#005ab3;
}
table tr td:nth-child(odd){
    background:#e6f2ff;
}